/* Start main style homepage */
body {
    background-color: #a6a3a3;
    font-family: sans-serif;
}
.body_holder {
    whidht: 200px;
    height : 100px;
}
#imghead {
	height:200px;
	widht:100px;
	margin-left: 35%;
    margin-right: 35%;
    text-align: center;
}
.head {
   height:90px;
   widht:30px;
}
.author {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    text-decoration: underline;
}
.intro {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 1.2em;
    background-color: #444951;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 25px;
}
.player_selector {
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 3%;
    padding-left: 2%;
    padding-top: 3%;
    margin-left: 3%;
    margin-right: 47%;
    background-color: #444951;
    border-radius: 25px;
}
.player_selector_title {
    text-decoration: none;
    position: relative;
    text-align: left;
}
.money_selector {
    font-family: 'Titillium Web', sans-serif;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 2%;
    padding-top: 3%;
    margin-left: 65%;
    margin-right: 5%;
    background-color: #444951;
    border-radius: 25px;
    float: right;
    text-align: left;
}
.money_selector_title {
    text-decoration: none;
    position: relative;
    margin-left: -10%;
    width: 80px;
}
.menu_table {
    width: 100%;
}
a {
    text-decoration: none;
    color: #000000;
    font-size: 2em;
    font-family: 'Titillium Web', sans-serif;
}
.play_button_homepage {
    border-radius: 25px;
    background-color: gray;
    border: gray solid 2px;
    transition: 0.5s;
}
.credit {
	border-radius: 25px;
    background-color: gray;
    border: gray solid 2px;
    transition: 0.5s;
    margin-top:10px;
}
.credit-button{
	border-radius: 25px;
    background-color: gray;
    border: gray solid 2px;
    transition: 0.5s;
    margin-top:10px;
    text-align:center;
    margin-left: 50%;
    margin-right: 65%;
}
#button-board{
	margin-top:900px;
	width:1875px;
	height:100px;
	border:solid black 2px;
	border-radius: 25px;
}
.home-button{
	border-radius: 25px;
    background-color: gray;
    border: gray solid 2px;
    transition: 0.5s;
    margin-top:15px;
    margin-left:20px;
    
}
.setting{
	border-radius: 25px;
    background-color: gray;
    border: gray solid 2px;
    transition: 0.5s;
    margin-top:15px;

}
.debug{
	border-radius: 25px;
    background-color: gray;
    border: gray solid 2px;
    transition: 0.5s;
    margin-top:15px;
}
.credit-title{
	text-align:center;
	font-family: 'Indie Flower', cursive;
	text-align: center;
    text-decoration: underline;
    font-size: 1.2em;
}
.credit-txt{
	font-family: 'Titillium Web', sans-serif;
    text-align: center;
    text-decoration: underline;
    border:solid black 1px;
    border-radius:3px;
    font-size:1em;
    margin-left:75px;
    margin-right:75px;
}
.play_button_homepage:hover {
    box-shadow: 2px 1px 2px black;
    transition: 0.5s;
}
.player_selector_divise {
    width: 33.33%
}
.button_divise {
    width: 33.33%
}
.money_selector_divise {
    width: 33.33%
}
/* End main style homepage */

/* Start game board parameters */
span{
	display: block;
	font: bold 10px "Arial", "Helvetica", sans-serif;
	color: #000;
	text-align: center;
}
.board {
    background: #EBEBE0;
    width: 808px;
    margin-left: 25%;
    margin-top: -5px;
}
.row{
    background: #fff;  
	float: left;
	margin-bottom: 2px;
}
#row1, #row3 {
	height: 82px;
    width: 867px;
}
#row2 {
	width: 866px;
	
}
.col1{
	float: left;
	width: 75px;
}
.col3{
	float: right;
	margin-right: 2px;
	width: 75px;
}
.box {
    background: #fff;
    border: 1px solid #000;
	float: left;
	height: 80px;
	width: 75px;
}
div #box-x:last-child {
    margin-right: 0;
}
div #box-y:last-child {
    margin-bottom: 0;
}
#box-x{
	margin-right: 2px;
    transition: 1s;
}
#box-x:hover {
    background-color: gray;
    transition: 1s;
}
#box-y{
	margin-bottom: 2px;
    transition: 1s;
}
#box-y:hover {
    background-color: gray;
    transition: 1s;
}
.title{
	background: black;
	border-bottom: 1px solid #000;
	line-height: 16px;
}

/* Colors */

#pink{
	background: #ff4f72;  OK 
}
#white {
    background: #ffffff;
}
#red {
    background: #ff0000; OK
}
#yellow {
    background: #f4ff2b; OK
}
#orange {
    background: #ff5000; OK
}
#green {
    background: #0ba500; OK
}
#dark_blue {
    background: #071775; OK
}
#light_blue {
    background: #9ba2c9; OK
}
#brown {
    background: #6d3f1c; OK
}
/**************/


.image{
	background: beige;
	height: 44px;;
}
.price{
	line-height: 12px;
	margin: 2px 0 2px 0;
	text-align: center;
	width: 100%;
}

/* Special cases */
.chance {
    background-image: url(images/question_mark.jpg);
    width: 70px;
    height: 74px;
    margin-left: 2.5px;
    margin-top: 3px;
}
.gare {
    background-image: url(images/train_icon.png);
    width: 80px;
    height: 45px;
    background-repeat: no-repeat;
}
.prison {
    background-image: url(images/go_to_prison.jpg);
    background-repeat: no-repeat;
    width: 74px;
    height: 63px;
}
.start {
    background-image: url(images/start_icon.jpg);
    background-repeat: no-repeat;
    width: 74px;
    height: 90px;
}
.playerHolder{
	border: solid black 1px;
    margin-left: 1350px;
    margin-right: 10px;
    width: 600px;
}
.playerMoneyHolder {
    border: solid black 1px;
    margin-left: 1200px;
    margin-right: 10px;
}
/**************/

/* Pions */

#rouge40, #rouge39, #rouge38, #rouge37, #rouge36, #rouge35, #rouge34, #rouge34, #rouge33, #rouge32, #rouge31, #rouge30, #rouge29, #rouge28, #rouge27, #rouge26, #rouge25, #rouge24, #rouge23, #rouge22, #rouge21, #rouge20, #rouge19, #rouge18, #rouge17, #rouge16, #rouge15, #rouge14, #rouge13, #rouge12, #rouge11, #rouge10, #rouge9, #rouge8, #rouge7, #rouge6, #rouge5, #rouge4, #rouge3, #rouge2,  #rouge1 {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: red;
	position: absolute;
	display: none;	
}
#bleu40, #bleu39, #bleu38, #bleu37, #bleu36, #bleu35, #bleu34, #bleu34, #bleu33, #bleu32, #bleu31, #bleu30, #bleu29, #bleu28, #bleu27, #bleu26, #bleu25, #bleu24, #bleu23, #bleu22, #bleu21, #bleu20, #bleu19, #bleu18, #bleu17, #bleu16, #bleu15, #bleu14, #bleu13, #bleu12, #bleu11, #bleu10, #bleu9, #bleu8, #bleu7, #bleu6, #bleu5, #bleu4, #bleu3, #bleu2,  #bleu1 {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-left: 15px;
	background-color: blue;
	position: absolute;
	display: none;
}
#jaune40, #jaune39, #jaune38, #jaune37, #jaune36, #jaune35, #jaune34, #jaune34, #jaune33, #jaune32, #jaune31, #jaune30, #jaune29, #jaune28, #jaune27, #jaune26, #jaune25, #jaune24, #jaune23, #jaune22, #jaune21, #jaune20, #jaune19, #jaune18, #jaune17, #jaune16, #jaune15, #jaune14, #jaune13, #jaune12, #jaune11, #jaune10, #jaune9, #jaune8, #jaune7, #jaune6, #jaune5, #jaune4, #jaune3, #jaune2,  #jaune1 {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: yellow;
	margin-left: 30px;
	position: absolute;
	display: none;
	}
#vert40, #vert39, #vert38, #vert37, #vert36, #vert35, #vert34, #vert34, #vert33, #vert32, #vert31, #vert30, #vert29, #vert28, #vert27, #vert26, #vert25, #vert24, #vert23, #vert22, #vert21, #vert20, #vert19, #vert18, #vert17, #vert16, #vert15, #vert14, #vert13, #vert12, #vert11, #vert10, #vert9, #vert8, #vert7, #vert6, #vert5, #vert4, #vert3, #vert2, #vert1 {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	margin-left: 45px;
	background-color: lime;
	position: absolute;
	display: none;
}
#rouge1, #bleu1, #jaune1, #vert1 {
	display: block;
}
.informationBoard {
	border: solid black 1px;
    margin-left: 1350px;
    text-align: center;
    width: 600px;
    margin-right:50px;
}
#boardTitle {
	background-color: white;
	opacity: 0.6;
	display: none;
	width: 
}
#boardAuteur {
	display: none;
}
#boardSansMaison {
	display: none;
}
#boardUneMaison {
	display: none;
}
#boardDeuxMaison {
	display: none;
}
#boardTroisMaison {
	display: none;
}
#boardQuarteMaison {
	display: none;
}
#shopButton {
	display: none;
}
#doubleButton {
    display: none;
}